.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2070ba;
    color: yellow;
    padding: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header-right a {
    color: yellow;
    margin-left: 10px;
    text-decoration: bold;
  }
  
  .header-right a:hover {
    text-decoration: underline;
  }
  