<div class="preview" aria-label="SayIt phrase board preview">
  <div class="preview__bar">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="preview__message">
    <p>I would like to tell you something</p>
    <button type="button" disabled aria-disabled="true">Speak</button>
  </div>
  <div class="preview__grid">
    <span>Need help</span>
    <span>I'm ready</span>
    <span>More please</span>
    <span>Not now</span>
    <span>I'm happy</span>
    <span>Question</span>
  </div>
</div>
